.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headline {
  color: red;
  animation: color 30.0s;
}

@keyframes color {
  10% {
    color: seagreen;
  }
  30% {
    color: blue;
  }
  60% {
    color: purple;
  }
  90% {
    color: skyblue;
  }
  100% {
    color:chartreuse;
  }
}

.data-card {
  /* --bs-box-shadow: 0 0.5rem 1rem rgb(2 96 7 / 37%); */
  border: 0.01rem dashed rgb(2 96 7 / 37%); 
}