
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

@keyframes color {
  10% {
    color: seagreen;
  }
  30% {
    color: blue;
  }
  60% {
    color: purple;
  }
  90% {
    color: skyblue;
  }
  100% {
    color:chartreuse;
  }
}

body {
  background: #5D4157;  /* fallback for old browsers */
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.data-card, .form-control {
  /* --bs-box-shadow: 0 0.5rem 1rem rgb(2 96 7 / 37%); */
  border: 0.01rem dashed rgb(2 96 7 / 37%); 
  background-color: transparent;
}

.owner-info {
  cursor: pointer;
  text-decoration: none;
}
.owner-info:hover {
  text-decoration: underline;
}

.title {
  font-weight: 700;
}

/* Add this CSS to your stylesheet */
.fade-out {
  transition: opacity 0.5s ease-out; /* Adjust the transition duration as needed */
  opacity: 0;
}

.task-table {
  max-height: 350px; /* Remove quotes */
  overflow-y: auto; /* Remove quotes */
}

.main-card, .navbar {
  border: none;
  max-height: 600px;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
}

.card-footer, .navbar {
  border-radius: 0 0 15px 15px !important;
}

.nav-link {
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0px;
  margin: 0px 15px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 500ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  border-radius: 5px;;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}

.bg-success {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.title {
  background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  background: #5D4157;  /* fallback for old browsers */
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}